<nav>
  <h2 id="title">ember-svg-shapes</h2>
  <ul>
    <li>{{#link-to 'index'}}index{{/link-to}}</li>
  </ul>
  <h3>Shapes</h3>
  <ul>
    <li>{{#link-to 'svg-circle'}}svg-circle{{/link-to}}</li>
    <li>{{#link-to 'svg-square'}}svg-square{{/link-to}}</li>
    <li>{{#link-to 'svg-rectangle'}}svg-rectange{{/link-to}}</li>
    <li>{{#link-to 'svg-triangle'}}svg-triangle{{/link-to}}</li>
    <li>{{#link-to 'svg-star'}}svg-star{{/link-to}}</li>
  </ul>
  <h3>Filters</h3>
  <ul>
    <li>{{#link-to 'svg-filters'}}svg-filters{{/link-to}}</li>
    <li>{{#link-to 'filter-drop-shadow'}}filter-drop-shadow{{/link-to}}</li>
  </ul>
</nav>
<section class="content">

  {{#svg-filters}}
    {{filter-drop-shadow id="drop-shadow" dx="2" dy="4"}}
  {{/svg-filters}}

  {{outlet}}
</section>
