<h2 id="title">ember-svg-shapes</h2>

<ul>
    <li>{{#link-to 'index'}}index{{/link-to}}</li>
    <li>{{#link-to 'svg-circle'}}svg-circle{{/link-to}}</li>
    <li>{{#link-to 'svg-triangle'}}svg-triangle{{/link-to}}</li>
    <li>{{#link-to 'svg-star'}}svg-star{{/link-to}}</li>
</ul>

{{outlet}}
