<p>You can use an <code>svg-filters</code> component to hold a collection of filters.</p>

<pre><code>&#123;&#123;#svg-filters&#125;&#125;
  // place filters here
&#123;&#123;/svg-filters&#125;&#125;</code></pre>

<p>An example applying a drop shadow</p>
<pre><code>&#123;&#123;#svg-filters&#125;&#125;
  &#123;&#123;filter-drop-shadow id="drop-shadow" dx="2" dy="4"&#125;&#125;
&#123;&#123;/svg-filters&#125;&#125;</code></pre>

<pre><code>&#123;&#123;svg-triangle filter="drop-shadow" size="100" class="green"&#125;&#125;</code></pre>

<div align="center">
  {{svg-triangle filter="drop-shadow" size="100" class="green"}}
</div>
